# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.
#
# This is only an example, and you should edit to suit your needs.
# If you don't need config, you can remove the file entirely.
options:
  mysql_root_password:
    type: string
    default: ''
    descriptions: Set the password for the root user.
  mysql_user:
    type: string
    default: ''
    description: Create a new user with superuser privileges. This is used in conjunction with MYSQL_PASSWORD.
  mysql_password:
    type: string
    description: Set the password for the MYSQL_USER user.
  mysql_database:
    type: string
    description: Set the name of the default database.
  autodelete:
    type: boolean
    description: Delete database if relations are removed
    default: true
