# Use system user
su {{ system_user }} {{ system_group }}

# Create dedicated subdirectory for rotated files
createolddir 770 {{ system_user }} {{ system_group }}

# Frequency of logs rotation
hourly
maxage {{ logs_retention_period }}
rotate {{ logs_retention_period * 1440 }}

# Compression settings
{% if logs_compression_enabled %}
compress
{% else %}
nocompress
{% endif %}


# Naming of rotated files should be in the format:
dateext
dateformat -%Y%m%d_%H%M

# Settings to prevent misconfigurations and unwanted behaviours
ifempty
missingok
nomail
nosharedscripts
nocopytruncate

{% for log in enabled_log_files %}
{{ log_dir }}/{{ log }}.log {
    olddir archive_{{ log }}
}

# vim: set ft=conf
