bundle: kubernetes
name: testing
applications:
  mysql-k8s:
    charm: {{ mysql_charm_path }}
    trust: true
    scale: 1
    constraints: mem=2G
    resources:
      mysql-image: {{ mysql_image_source }}
  grafana-agent-k8s:
    charm: grafana-agent-k8s
    channel: 1/stable
    scale: 1
relations:
  - - grafana-agent-k8s:logging-provider
    - mysql-k8s:logging
  - - grafana-agent-k8s:metrics-endpoint
    - mysql-k8s:metrics-endpoint
