# Copyright 2022 Canonical Ltd.
# See LICENSE file for licensing details.
name: Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  schedule:
    - cron: '53 0 * * *' # Daily at 00:53 UTC
  # Triggered on push to branch "main" by .github/workflows/release.yaml
  workflow_call:

jobs:
  lint:
    uses: canonical/data-platform-workflows/.github/workflows/lint.yaml@v2

  unit-test:
    name: Unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: 'Foresight: Collect workflow telemetry'
        uses: runforesight/foresight-workflow-kit-action@v1
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install tox
        # TODO: Consider replacing with custom image on self-hosted runner OR pinning version
        run: python3 -m pip install tox
      - name: Run tests
        run: tox run -e unit -- --junit-xml=pytest_report.xml
      - name: 'Foresight: Collect test results'
        uses: runforesight/foresight-test-kit-action@v1
        if: ${{ success() || failure() }}
        with:
          test_framework: PYTEST
          test_format: JUNIT
          test_path: pytest_report.xml
          coverage_format: LCOV/TXT
          coverage_path: coverage.lcov

  build:
    name: Build charms
    uses: canonical/data-platform-workflows/.github/workflows/build_charms_with_cache.yaml@v2

  release:
    name: Release charm
    needs:
      - build
    uses: canonical/data-platform-workflows/.github/workflows/release_charm.yaml@v2
    with:
      channel: 8.0/edge/mysqlrouter-user
      artifact-name: ${{ needs.build.outputs.artifact-name }}
      create-github-release: false
    secrets:
      charmhub-token: ${{ secrets.CHARMHUB_TOKEN }}

  integration-test:
    strategy:
      fail-fast: false
      matrix:
        tox-environments:
          - integration-charm
          - integration-database-relation
          - integration-mysql-root
          - integration-replication
          - integration-self-healing
          - integration-tls
          - integration-backups
    name: ${{ matrix.tox-environments }}
    needs:
      - lint
      - unit-test
      - build
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - name: 'Foresight: Collect workflow telemetry'
        uses: runforesight/foresight-workflow-kit-action@v1
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup operator environment
        # TODO: Replace with custom image on self-hosted runner
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          # This is needed until https://bugs.launchpad.net/juju/+bug/1977582 is fixed
          bootstrap-options: "--agent-version 2.9.29"
      - name: Download packed charm(s)
        uses: actions/download-artifact@v3
        with:
          name: ${{ needs.build.outputs.artifact-name }}
      - name: Select tests
        id: select-tests
        run: |
          if [[ "${{ github.event_name }}" == "schedule" ]]
          then
            echo Running unstable and stable tests
            echo "mark_expression=" >> "$GITHUB_OUTPUT"
          else
            echo Skipping unstable tests
            echo "mark_expression=not unstable" >> "$GITHUB_OUTPUT"
          fi
      - name: Run integration tests
        run: tox run -e "${{ matrix.tox-environments }}" -- -m '${{ steps.select-tests.outputs.mark_expression }}' --junit-xml=pytest_report.xml
        env:
          AWS_ACCESS_KEY: ${{ matrix.tox-environments != 'integration-backups' || secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_KEY: ${{ matrix.tox-environments != 'integration-backups' || secrets.AWS_SECRET_KEY }}
          GCP_ACCESS_KEY: ${{ matrix.tox-environments != 'integration-backups' || secrets.GCP_ACCESS_KEY }}
          GCP_SECRET_KEY: ${{ matrix.tox-environments != 'integration-backups' || secrets.GCP_SECRET_KEY }}
          CI_PACKED_CHARMS: ${{ needs.build.outputs.charms }}
      - name: 'Foresight: Collect test results'
        uses: runforesight/foresight-test-kit-action@v1
        if: ${{ success() || failure() }}
        with:
          test_framework: PYTEST
          test_format: JUNIT
          test_path: pytest_report.xml
