# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.
name: Release to Charmhub

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '.github/renovate.json5'
      - '.github/workflows/check_libs.yaml'
      - '.github/workflows/sync_docs.yaml'

jobs:
  lib-check:
    name: Check libraries
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: |
          # Workaround for https://github.com/canonical/charmcraft/issues/1389#issuecomment-1880921728
          touch requirements.txt
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@2.6.3
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }} # FIXME: current token will expire in 2023-07-04
          github-token: ${{ secrets.GITHUB_TOKEN }}

  ci-tests:
    needs:
      - lib-check
    uses: ./.github/workflows/ci.yaml
    secrets: inherit
    permissions:
      contents: write  # Needed for Allure Report

  release:
    name: Release charm
    needs:
      - lib-check
      - ci-tests
    uses: canonical/data-platform-workflows/.github/workflows/release_charm_edge.yaml@v32.1.0
    with:
      track: '8.0'
      artifact-prefix: ${{ needs.ci-tests.outputs.artifact-prefix }}
    secrets:
      charmhub-token: ${{ secrets.CHARMHUB_TOKEN }}
    permissions:
      contents: write  # Needed to create git tags
